<%- include('./header') %>
<div style="display: flex; flex-direction: column; align-items: center;">
    <h1>CRUD 게시판 만들기</h1>
    <a href="/board/list"><button type="button" class="btn btn-primary">게시판</button></a>
</div>


    <%- include('./footer') %>
